<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Skimo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../img/favicon.ico" />
	<link rel="stylesheet" href="../css/main.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>
<body class="home page page-template page-template-template-notitle-php">

  <!--[if lt IE 8]>
    <div class="alert alert-warning">
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.    </div>
  <![endif]-->

  <header class="banner navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://skimo.tv"><img src="../img/logo.png" alt="Skimo"></a>
      </div>

    </div>
  </header>

  
    <div class="wrap" role="document">
      <div class="band band-default">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-8">
		<br/>
              <h2>Skimo was not found</h2>
<p>Skimos are available in our servers only for 7 days.</p>
<p>No biggie!</p>
<p><a href="https://skimo.tv">Go to the home page</a> and upload the video again.</p>             </div>
	</div> 
          
          </div>
        </div>
      </div>


<footer class="content-info" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <ul id="menu-footer" class="footer-nav"><li class="active menu-home"><a href="/">Home</a></li>
          <li class="menu-about-skimo"><a href="https://skimo.tv/about.html">About Skimo</a></li>
          <li class="menu-about-skimo"><a href="https://skimo.tv/copyright.html">Copyright</a></li>
          <li class="menu-about-skimo"><a href="https://skimo.tv/privacy.html">Privacy Policy</a></li>
          <li class="menu-about-skimo"><a href="https://terms.html">Terms of use</a></li>
          <li class="menu-the-science"><a href="https://api.skimo.tv">Enterprise</a></li>
          <li class="menu-terms-of-use"><a href="mailto:support@skimo.tv">support@skimo.tv</a></li>
        </ul>
        <br>
        
        <a href="https://www.facebook.com/skimotv" title="Visit our page"><img src="https://skimo.tv/img/facebook.png" alt="Like us on Facebook"></a>
        <a href="https://www.twitter.com/skimotv" title="Follow us on Twitter"><img src="https://skimo.tv/img/twitter.png" alt="Twitter"></a>
      </div>
      
      <div class="col-sm-4 text-right">
        <p><small>&copy; 2020 Skimo TV, Inc, Sunnyvale, California, USA.  All rights reserved.</small></p>
      </div>

    </div>
  </div>
</footer>
  

  <script type='text/javascript' src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</body>
</html>
