<!DOCTYPE html>
<html dir="ltr" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
     <link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/main.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <title>Skimo</title>
    <script charset="utf-8" src="js/glide.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
<style>
html,body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #ff0000;
}

h1,h2,h3 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
p {color: #888; font-size: 1.3em;}
h2 {
  color: #888;
  font-size: 2em;
}
h3 {
  color: #888;
  font-size: 2.0em;
}
</style>
    
</head>
<body>
<div class="images glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
        	
        	<li class="glide__slide">
                <img alt="poster" th:attr="src=@{${first_item.imageUrl}}">
                <div class="skimo">
                    <a target="_blank" th:attr="href=@{${first_item.videoUrl}}">
                        <img alt="skimo" src="skimologo.png">
                    </a>
                     <input name="text" type="hidden" th:value="${media.text}" />
                </div>
                <center><p>0:00</p></center>
            </li>
        
            <li class="glide__slide" th:each="media: ${mediaList}">
                <img alt="poster" th:attr="src=@{${media.imageUrl}}">
                <div class="skimo">
                    <a target="_blank" th:attr="href=@{${media.videoUrl}}">
                        <img alt="skimo" src="skimologo.png">
                    </a>
                    <input name="text" type="hidden" th:value="${media.text}" />
                </div>
                <center><p th:text=${media.currentTime}></p></center>
            </li>
        </ul>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <img alt="" src="line-angle-left.png">
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <img alt="" src="line-angle-right.png">
        </button>
    </div>
</div>
<script rel="stylesheet" src="js/glide.js" type="text/javascript"></script>
<script type="text/javascript">
      new Glide(".images",{
        type: 'carousel',
        // Change the desktop per view here:
        perView: 3,
        focusAt: 'center',
        // Change the spacing here
        gap: 20,
        breakpoints: {
            // Change the tablet per view here:
            1200:{
                perView: 3
            },
            // Change the mobile per view here:
            800:{
                perView: 1
            }
        }
      }).mount();


</script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
