<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
     <link rel="shortcut icon" href="favicon.ico" />
     <link rel="stylesheet" href="css/screen.css" media="screen">
    <title>Skimo</title>
    <link rel="stylesheet" href="css/reveal.css">
<style>

h1 {
  font-weight: 200;
  margin: 0.4em 0;
 font-size: 3.5em; }

</style>

</head>
<body>
  <div class="reveal">

    <div class="slides">

    <section>
    <div id="video-container">
       <video id="player" preload controls>
         <source th:attr="src=@{${first_item.videoUrl}}" type="video/mp4">
       </video>
       <input name="text" type="hidden" th:value="${first_item.text}" />
       <center><h1>0:00</h1></center>
       <img id="starter" class="hide" src="skimologo.png" style="width:100px;height:100px;" alt="">
      </div>
    </section>
    
    <section   th:each="media: ${mediaList}">
	    <div id="video-container">
	       <video id="player" preload controls>
	         <source th:attr="src=@{${media.videoUrl}}" type="video/mp4">
	       </video>
	       <input name="text" type="hidden" th:value="${media.text}" />
	       <center><h1 th:text=${media.currentTime}></h1></center>
	       <img id="starter" class="hide" src="skimologo.png" style="width:100px;height:100px;" alt="">
	    </div>
    </section>
    
    </div>

  </div>
<script src="js/reveal.js"></script>
<script src="js/video-player.js"></script>

<script>

  Reveal.initialize({
    transition: 'linear'
  });

</script>
</body>
</html>

